# Frontend URL (digunakan untuk CORS)
FRONTEND_URL=http://localhost:5173

# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=root
DB_SCHEME=db_server
DB_SSL_REQUIRED=false
DB_SSL_CA_PATH=./ca-cert.pem

# Server Configuration
SERVER_PORT=5000

# Security
ADMIN_API_KEY=your_admin_api_key_here
JWT_SECRET=your_jwt_secret_here
CAPTCHA_SECRET=your_captcha_secret_here