FRONTEND_URL=http://localhost:5173

DB_HOST=localhost
DB_PORT=3306
DB_USER=[INSERT PORT HERE]
DB_PASS=[INSERT PASS HERE]
DB_SCHEME=[INSERT DATABASE SCHEME HERE]

SERVER_PORT=[INSERT PORT HERE]
ADMIN_API_KEY=[INSERT KEY HERE]
JWT_SECRET=[INSERT SECRET KEY HERE]